.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    justify-content: space-between;
    padding: 15px 50px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    z-index: 11;
}

.menuTap {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s all ease;
}

.menuTap:hover {
    color: blueviolet;
    transition: 0.3s all ease;
}

.active {
    color: blueviolet;
}

.header_Nav {
    display: block;
    left: 0;
}

.li {
    color: rgb(175, 175, 175);
    transition: 0.3s all ease;
}

.li:hover {
    color: blueviolet;
    transition: 0.3s all ease;
}

.sideMenu {
    position: absolute;
    top: 0;
    background-color: white;
    left: 0;
    padding: 50px 150px 50px 50px;
    height: 100vh;
    font-size: 30px;
    transform: translateX(-300px);
    transition: 0.5s all ease;
    z-index: 10;
}

.blackScreen {
    background-color: black;
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    filter: opacity(0%);
    visibility: hidden;
    transition: 0.5s all ease;
    z-index: 9;
}

.fadeIn {
    filter: opacity(50%);
    transition: 0.5s all ease;
    visibility: visible;
}

.openMenu {
    transform: translateX(0px);
    transition: 0.5s all ease;
}

.gf > a {
    position: absolute;
    bottom: 150px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.2s ease;
}

.gf:hover {
    color: blueviolet;
    transition: all 0.2s ease;
}

.gf:hover .arrow {
    transform: translateX(10px);
    transition: all 0.2s ease;
}

.gf > a > .arrow {
    transition: all 0.2s ease;
    transform: translateX(0px);
}
