.utterances {
    width: inherit;
    margin: 0;
}

.utterances-frame {
    width: 100%;
}

.flex_box {
    width: 100%;
    display: flex;
    height: 1000px;
}

.commentbox {
    width: 50%;
}

.support_nav {
    width: max-content;
    margin-bottom: 100px;
    height: max-content;
    background-color: #fafafa;
    border-radius: 20px;
    margin: 50px;
}

.othericon {
    width: auto;
    justify-content: space-evenly;
    align-items: center;
    margin: 25px 10px;
}

.othericon > div {
    padding: 8px 20px;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    transition: all 0.2s ease;
    cursor: pointer;
}

.othericon > div:hover {
    color: blueviolet;
    transition: all 0.2s ease;
}

.othericon > div > img {
    margin-right: 6px;
}

.fixed {
    position: fixed;
    right: 0px;
    top: 0px;
    transition: all 0.2s ease;
}

.otherNav {
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: flex-start;
    margin-top: 35px;
}

.comments {
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: rgb(250,250,250);
    margin: 8vmin;
    margin-top: 40px;
    padding: 20px;
}

table {
    width: 100%;
    border-top: 1px solid gray;
    border-collapse: collapse;
    height: 500px;
}

thead {
    background-color: rgb(240,240,240);
}

th, td {
    border-bottom: 1px solid lightgray;
    border-left: 1px solid rgb(240,240,240);
    padding: 5px;
    width: 14.285%;
    height: 20%;
}

th:first-child, td:first-child {
    border-left: none;
}

.customTb {
    width: 100%;
}

.red {
    color: rgb(255, 100, 100);
}

.blue {
    color: rgb(89, 89, 255);
}

.days {
    font-size: 15px;
    vertical-align: top;
}

.tdisable {
    color: gray;
    background-color: rgb(250, 250 ,250);
}

.tcont {
    color: black;
    border-radius: 50px;
    background-color:gold;
    margin-top: 5px;
    word-break: keep-all;
}

@media only screen and (max-width: 768px)  {
    .flex_box {
        width: 100%;
        display: block;
        height: max-content;
        box-sizing: border-box;
    }

    .comments {
        width: 85%;
        box-sizing: border-box;
    }

    .commentbox {
        width: auto;
    }

    .otherNav {
        width: 100%;
        display: block;
        position: static;
        box-sizing: border-box;
        margin: 0;
    }
}