@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

.App {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.App-logo {
  height: 9vmin;
  pointer-events: none;
}

.ls_logo {
  fill: black;
}

.App-header {
  background-color: #F2EBE7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: black;
  letter-spacing: -1px;
  font-weight: 700;
}

.App-header > div {
  margin-top: 2.5vmin;
}

.App-link {
  color: #61dafb;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

li {
  padding: 20px 8px;
}

.social {
  bottom: 0;
  position: absolute;
}

.black {
  fill: black;
}